<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/d3.min.js"></script>
        <script src="js/data.js"></script>
        <link rel="stylesheet" type="text/css"  href="css/style.css" />
        <title>Eden Trace Viewer - HTML5 edition</title>
        <link rel="icon" type="image/png" href="img/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="img/favicon-128.png" sizes="128x128" />
    </head>
    <body>
    <script src="js/edentv.js"></script>
    <img id="loading" src="./img/loading.gif"> 
    <div class="menu">
        <select id="trace_list">
            <option>"update the list of traces..."</option>
        </select>
        <button id="update_button">update list</button>
        <button id="load_button">load trace</button>
        <!--
        <ul>
            <li> Machine View </li>
            <li> Process View </li>
            <li> Thread View  </li>
        </ul> 
        -->
        <br />
        <br />
        Level of detail: <input type="number" min="1" max="100" step="1"
        value="1" id="lod">
        <button id="set_lod">set level of detail</button>
    </div>
    </body>
</html>
